aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.13.0
asgiref==3.11.1
asttokens==3.0.1
attrs==26.1.0
autobahn==25.12.2
Automat==25.4.16
cbor2==5.9.0
certifi==2026.2.25
cffi==2.0.0
channels==3.0.5
channels-redis==4.1.0
charset-normalizer==3.4.7
click==8.3.2
colorama==0.4.6
constantly==23.10.4
cryptography==44.0.3
daphne==3.0.2
decorator==5.2.1
Django==4.2.7
django-comment-migrate==0.1.7
django-cors-headers==4.3.0
django-extensions==4.1
django-filter==23.3
django-ranged-response==0.2.0
django-restql==0.15.3
django-simple-captcha==0.5.20
django-timezone-field==6.0.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
drf-yasg==1.21.7
et_xmlfile==2.0.0
executing==2.2.1
filelock==3.25.2
frozenlist==1.8.0
gevent==25.9.1
graphql-core==3.2.8
greenlet==3.3.2
gunicorn==21.2.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
hyperlink==21.0.0
idna==3.11
Incremental==24.11.0
inflection==0.5.1
ipython==9.10.1
ipython_pygments_lexers==1.1.1
jedi==0.19.2
jsonpatch==1.33
jsonpointer==3.1.1
langchain==1.2.15
langchain-core==1.2.26
langgraph==1.1.6
langgraph-checkpoint==4.0.1
langgraph-prebuilt==1.0.9
langgraph-sdk==0.3.12
langsmith==0.7.25
matplotlib-inline==0.2.1
msgpack==1.1.2
multidict==6.7.1
mysqlclient==2.2.8
numpy==2.4.4
openpyxl==3.1.2
orjson==3.11.8
ormsgpack==1.12.2
packaging==26.0
pandas==3.0.2
parso==0.8.6
pillow==12.2.0
prompt_toolkit==3.0.52
propcache==0.4.1
psutil==7.2.2
psycopg2==2.9.11
pure_eval==0.2.3
py-ubjson==0.16.1
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.20.0
PyJWT==2.12.1
pyOpenSSL==24.3.0
pyparsing==3.1.1
pyPEG2==2.15.2
pypinyin==0.49.0
python-dateutil==2.9.0.post0
pytz==2026.1.post1
PyYAML==6.0.3
redis==7.4.0
requests==2.31.0
requests-toolbelt==1.0.0
scipy==1.17.1
service-identity==24.2.0
sgqlc==18
shinny-structlog==0.0.4
simplejson==3.20.2
six==1.16.0
sqlparse==0.5.5
stack-data==0.6.3
tenacity==9.1.4
tqsdk==3.9.1
tqsdk-ctpse==1.0.2
tqsdk-sm==1.0.5
traitlets==5.14.3
Twisted==25.5.0
txaio==25.12.2
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.1
tzlocal==5.1
ua-parser==0.18.0
ujson==5.12.0
uritemplate==4.2.0
urllib3==2.6.3
user-agents==2.2.0
uuid_utils==0.14.1
uvicorn==0.23.2
wcwidth==0.6.0
websockets==11.0.3
whitenoise==6.6.0
xxhash==3.6.0
yarl==1.23.0
zope.event==6.1
zope.interface==8.2
zstandard==0.25.0
influxdb-client==1.50.0
influxdb==5.3.2
apscheduler==3.11.2
celery==5.6.3
pymysql==1.1.2
sqlalchemy==2.0.49
simpleui
django_apscheduler==0.7.0
chinesecalendar==1.11.0
weasyprint==12.2.0
bamboo-pipeline==3.29.9
openai==2.31.0